.nav-sessions{
    width: 400px;
    height: 895px;
    position: sticky;
    top: 0;
}

.nav-link{
height: 44px;
padding-left: 56px;
color:$color-light;
    &:hover{
        color:$color-light; 
    }
}

.nav-item{
    @include flex-row;
    align-items: center;
    padding: 16px;
    gap: 8px;
            &:hover {
            background-color: #5E5D73;
            }
}

.nav-subitem{
    @extend .nav-item;
    padding-left: 50px;
}

.main-sessions{
    display: flex;
    position: relative;
    section{
        display: flex;
        flex-direction:column;
        padding: 0px 60px 60px 60px;
            h2{
                padding: 60px 60px 36px 60px;
                color: $color-blue;
            }
            h3{
                font-size: 35px;
                padding: 24px 0px;
            }
    }
}

.card-title{
    font-size: 35px;
    color: $color-blue;
}

.card-body{
    text-align: center;

}

.card-text{
    margin: 24px;
}

@media screen and (max-width:630px) {
    .nav-sessions {
        display: none;
}
}

@media screen and (max-width:1160px) {
    .nav-sessions {
        height: 830px;
}
}

@media screen and (max-width:815px) {
    .nav-sessions {
        height: 850px;
}
}