.card{
    background-color: $color-red;
    border: none;
    position: relative;
    z-index: 1;
}

.bi-arrow-right-circle {
    color:$color-light;
}

.text-hided {
    display: none;
    h3 {
        font-style: italic;
        font-weight:lighter;
        text-align: right;
        font-size: 18px;
    }
}

.row {
    justify-content: center;
    padding: 60px;
}

.card-img-overlay {
margin-top: 450px;
display: flex;
flex-direction: row;
align-items:end;
justify-content: space-between;
transition: 0.3s;
color:$color-light;
    &:hover .nombre-oficial {
    display: none;
    }
    &:hover .card-text {
        display: none;
    }
    &:hover .bi-arrow-right-circle {
        display: none;
    }
    &:hover ~ .card-img {
        visibility: hidden;
    }
    &:hover .text-hided {
        display:flex;
        flex-direction: column;
        gap:24px;
    }
    &:hover {
        margin-top: 24px;
        align-items:flex-start;
    }
}

.col-lg-4{
    p{
        font-size: 14px;
    }
}

.col-md-7{
    margin: 24px;
}


/*mediaqueries */
@media screen and (max-width:1170px) {
    .col-lg-4{
        p{
            font-size: 12px;
        }
}
}

@media screen and (max-width:768px) {
    .card {
        p{
            font-size: 16px;
        }
}
}