
#footer {
    background-color:$color-blue;
    color: $color-light;
    background-size: cover;
    padding: 60px;
}

.info-footer{
    @include flex-column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
}

.form {
    border: none;
    margin-bottom:60px;
}
.input {
    margin: 10px;
    margin: 15px;
    width: 400px;
    border-color: #EEECDD;
    color: #9B9B9B;
    border-left: none;
    border-right: none;
    border-top: none;
}

fieldset {
    border: none;
}

.contact-details{
    @include flex-row;
    gap: 16px;
}

#social-media{
display: flex;
justify-content: center;
gap: 20PX;
}

/*mediaqueries */

@media screen and (max-width:768px) {

    #footer {
        flex-direction: column;
        justify-content:space-between;
        padding: 24px;
    }
    .info-footer, .form  {
        width: 90%;
        margin: 24px;
    }
    .input {
        width: 90%;
    }
}

@media screen and (max-width:480px) {
    .row{
        padding:16px;
        div{
            padding:0px;  
        }
    }
    #footer {
        padding:0px;
        padding-bottom:60px;
            }
}