#video-desktop {
    position: static;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

#video-mobile{
    display: none;
}

header-index {
    width: 100%;
    display: flex;
    position: relative;
}

header {
    width: 100%;
    display: flex;
    position: relative;
    height: 768px;
}

#titulo-index {
    display: inline-block; 
    text-align: left;
    position: absolute;
    top: 500px;
    right: 150px;
    width: 40%;
}

.titulo {
    text-align: left;
    position: relative;
    top: 400px;
    left: 150px;
    width: 90%;
    height: 200px;
}

#header-home {
    position: absolute;
    top:0%;
    width:100%;
    height: 768px;
    object-fit: cover;
    display: inline-block;
    z-index: 0;
}

#hamburger {
    position:fixed;
    left: 60px;
    top: 80px;
}

#hamburguer-hover:hover #menu{
    left: 0;
    transition: 0.5s;
}

#menu {
    @include flex-column;
    background-color:$color-blue;
    background-size: cover;
    width: 700px;
    height: 3000px;
    padding-top: 60px;
    padding-left: 60px;
    position: fixed;
    right: 1900px;
    z-index: 2;
}

#logo {
margin-bottom: 100px;
padding-left: 16px;
}

.nav-list {
    @include flex-column;
    list-style-type: none;
    font-size: 35px;
    font-weight: bold;
    text-decoration: none;
    transition: 0.5s;
    padding: 15px;
    -webkit-text-fill-color:$color-blue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color:$color-light;
    &:hover{
        -webkit-text-fill-color:$color-light;
    }
}

ul{
    List-style-type:none;
    padding-left:0px;
}

#logo-home{
    position: fixed;
    left: 150px;
    top: 60px;
}

/*mediaqueries */
@media screen and (max-width:1380px) {
    #titulo-index {
        display: inline-block; 
        text-align: left;
        position: absolute;
        top: 180px;
        right: 200px;
        width: 40%;
    }
    .titulo {
        width: 70%;
    }
    #hamburger {
        position:absolute;
    }
    #logo-home{
        position: absolute;
    }
}

@media screen and (max-width:768px) {


    #video-mobile{
        display: block;
    }
    
    #video-desktop{
        display: none;
    }

    #titulo-index {
        top: 300px;
        left: 60px;
    }
        
    .titulo {
        top: 300px;
        left: 60px;
        width: 80%;
    }

    #menu {
    width: 100%;
    }

    h1{
        font-size: 48px;
    }
    h2{
        font-size: 32px; 
    }
}
@media screen and (max-width:480px) {
    
    #menu {
        padding-left: clamp(1rem,4.2667vw,2rem);
        padding-right: clamp(1rem,4.2667vw,2rem);
        }

    .nav-list {
        font-size: 24px;
        -webkit-text-fill-color:$color-light;
        -webkit-text-stroke-width: 0px;
    }

    #titulo-index {
        left:16px;
        width: 90%;
        top: 200px;
    }

    .titulo {
        left:16px;
        width: 90%;
    }

    #hamburger {
        left: 15px;
    }

    #logo-home{
        left: 80px;
        width: 60px;
        top: 70px;
    }

    #header-home {
        height: 500px;
    }

    header {
        height: 500px;
    }

    #tit-comm{
        top: 200px;
    }
}