/* fuentes, url de google font, todo lo que sea para sacar estilos  */
* {
    margin: 0%;
    padding: 0%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
    font-size: 80px;
    color:$color-light;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-size: 16px;
    margin-bottom: 0px;
}

.light-background{
    background-color:$color-light;
}

.green-background{
    background-color:$color-green;
}

.blue-background{
    background-color:$color-blue;
}

.color-light{
    color:$color-light;
}

.color-blue{
    color:$color-blue;
}

.color-red{
    color:$color-red;
}

.color-red{
    color:$color-green;
}
